h1{
    background-color: black;
    color: white;
    text-align: center;
}
.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.tabla{
    margin-left: 5rem;
    margin-right: 5rem;
}
.datos{
    background-color: #212529;
    color: #fff;
}
.botone{
    margin-left: 5rem;
}
@media (max-width:800px ){
    .tabla{
        margin-left: 5px;
        margin-right: auto;
    }
}