*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register{
    width: 450px;
    background-color: aliceblue;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}
.form-register h1{
    text-align:center;
}
.resumen{
    width: 325px;
    background-color: #eaa4a4;
    padding: 15;
    margin:auto ;
    margin-top: 50px;
    border-radius: 4px;
}
.btnCon{
    background-color: rgb(124 227 223);
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.btnCon1{
    background-color: rgb(255 185 185);
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.itemsCar{
    display: flex;
    justify-content: center;
}
.itemcarro{
    margin-top: 1rem;
    text-decoration: none;
}
.btn-elim{
    margin-left: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #eaa4a4;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.linea{
    color: black;
    width: 15%;
}
.btnoe{
    width: 300px;
    margin: auto;
    padding: 15px;
}
.btnCon2{
    width: 100%;
    background-color: rgb(117 227 136);
    color: white;
    border-radius: 2rem;
    font-size: 20px;
    font-weight: 700;
}



