@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
h1{
    background-color: blueviolet;
    text-align: center;
    color: white;
}
.header-prin{
    background: black;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header-prin, a{
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 15px;
    font-size: 1.4em;
}
.menu-icon{
    display: none;
}
.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegacion ul li{
    display: inline-block;
}  
.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegacion ul li a:hover{
    background: #4a4a4a ;
}
.pantalla{
    display: none;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
/*     height: 635px; */
    margin-top: 5rem;
    margin-right: -100%;
    backface-visibility: hidden;    
    height: 65vh;
    min-height: 750px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    @include transition($carousel-transition);
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel {
    position: relative;
    margin-top: 3rem;
}  

.h2, h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 200px;
    font-size: 3000px;
    
}
.imgnormalizada {
    width: auto;
    height: 800px;
    max-height: 1000px;
    object-fit: cover;
}
img{
    object-fit: cover;
/*     height: 400px;
    width: 200px; */
}
.imagenC{
    object-fit: cover;
}
.imagen{
    object-fit: cover;
    height: 200px;
    width: 100px;
}
.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.principal{
    justify-items: center;
}

.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 3rem;
}
.botonf{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: -65px
}
.botone{
    margin-left: 5rem;
}
footer{
    background-color: #111;
    margin-top: 5rem;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px ;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;

}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 35px;
}
.footerNav ul li a{
    color: white;
    margin: 20%;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.card-footer{
    background-color: #000;
}