*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.8) 100%,
      rgba(0, 0, 0, 0.8) 100%,
      rgba(0, 0, 0, 1) 100%
    );
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: black;
    font-family: 'Luckiest Guy', cursive;
    color: yellow;
    font-size: 5rem;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}
.listaPokemons{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10rem, 1fr));
    gap:2rem;
    padding: 1rem;
    text-align: center;
}
.imagenPokemon{
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    margin-top: 8em;
    color: #fff;
    padding: 0.5em;
}
.imagenPokemon img{
    height: 200px;
    width: 100%;
    margin-top: -5em;
}
.botones{
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 2em auto 2em;
}